extends layout

block scripts
    script(src='/javascripts/cast.js')
    script.
        var isPaused = false;
        $(function() {
            cast("#{url}");
        });

block content
    h1= title
    button(id='play') pause
    br
    br
    div.progress
        div.progress-bar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax=duration style='width: 0%')
            span.sr-only